<ul class="sub-nav">
	<li data-type="install"><a href="{% post_url 2018-07-29-install %}">安装</a></li>
	<li data-type="catalog"><a href="{% post_url 2018-07-29-catalog %}">目录结构</a></li>
	<li data-type="config"><a href="{% post_url 2018-07-29-config %}">配置</a></li>
	<li data-type="layouts"><a href="{% post_url 2018-07-29-layouts %}">模板</a></li>
	<li data-type="article"><a href="{% post_url 2018-07-29-article %}">文章</a></li>
	<li data-type="index"><a href="{% post_url 2018-07-29-index %}">首页</a></li>
</ul>